<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="pathImageBase" value="C:\Users\Elmion\Documents\GitHub\EVDTest\GameTester\GameData\imagedata.db"/>
    <add key="pathImageBaseDescription" value="C:\Users\Elmion\Documents\GitHub\EVDTest\GameTester\GameDataimagedatadesc.xml"/>
    <add key="XMLCardBasePath" value="C:\Users\Elmion\Documents\GitHub\EVDTest\GameTester\GameData\CardBase.xml"/>
  </appSettings>

</configuration>
