<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="pathImageBase" value="E:\MyProject\Temp\imagedata.db"/>
    <add key="pathImageBaseDescription" value="E:\MyProject\Temp\imagedatadesc.xml"/>
    <add key="XMLCardBasePath" value="E:\MyProject\Temp\imagedatadesc.xml"/>
  </appSettings>

</configuration>
